body {
	font-family: Arial, sans-serif;
	background-color: var(--tg-theme-secondary-bg-color);
}

.card {
	background-color: var(--tg-theme-bg-color);
	width: 200px;
	border-radius: 20px;
	padding: 20px;
}

.card-img {
	border-radius: 11px;
	max-height: 200;
	max-width: 200;
}

.card-title {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 500;
	color: var(--tg-theme-text-color);
}

.card-sub {
	font-size: 12px;
	font-weight: 300;
	margin-top: 20px;
	color: var(--tg-theme-hint-color);
}

.btn-keeper {
	margin-top: 20px;
	text-align: center;
}

.btn {
	background-color: var(--tg-theme-button-color);
	padding: 7px 12px;
	text-decoration: none;
	color: var(--tg-theme-button-text-color);
}